parameters:
    level: 5

    paths:
        - ../src
        - ../public
        
    symfony:
        container_xml_path: ../var/cache/dev/App_KernelDevDebugContainer.xml

    doctrine:
        objectManagerLoader: ./object-manager.php

    checkGenericClassInNonGenericObjectType: false